$main-color: #FF7766;
$custom-color: #EEE;
$card-text-color: #a9a9a9;
$services-bg-color: #f1f1f0;
$journey-card-btn-color: #419b9b;
$turkey-overlay-color: rgba(65, 81, 155, 0.6);
$turkey-text-title-color: rgba(65, 81, 155);
$egypt-overlay-color: rgba(155, 124, 65, 0.6);
$egypt-text-title-color: rgba(155, 124, 65);
$home-overlay-color: rgba(65, 155, 155, 0.6);
